* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  background-image: url("../images/background.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  padding: 30px 0;
}

.img_face {
  border: 20px groove rgb(255, 208, 81);
  display: block;
  margin: auto;
}

h1 {
  font-size: 60px;
  color: rgb(55, 246, 227);
}

h2, h3, .text, a {
  color: rgb(0, 247, 255);
}

h2 {
  font-size: 45px;
  margin-bottom: 10px;
  margin-top: 20px;
}

h3 {
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}

p {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

.text {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

.img_left {
  display: block;
  border: 5px solid rgb(209, 156, 9);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

a:hover {
  text-decoration: none;
  color: rgb(0, 255, 221);
  background: #6b3d12;
  font-size: 30px;
}

.header__menu {
  list-style: none;
  padding: 0 30px;
  margin: 0;
  font-size: 18px;
  text-align: center;
  position: relative;
  background: white;
}
.header__menu::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  left: 0;
  bottom: -20px;
  background: radial-gradient(white 0%, white 70%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 100%) 0 -10px;
  background-size: 20px 20px;
  background-repeat: repeat-x;
}
.header__item {
  display: inline-block;
}
.header__link {
  text-decoration: none;
  display: inline-block;
  margin: 0 15px;
  padding: 10px 30px;
  font-family: "PT Sans Caption", sans-serif;
  color: #777777;
  transition: 0.3s linear;
  position: relative;
}
.header__link::after, .header__link::before {
  content: "";
  position: absolute;
  top: calc(50% - 3px);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #F58262;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.header__link::before {
  left: 5px;
}
.header__link::after {
  right: 5px;
}
.header__link.current::before, .header__link.current::after, .header__link:hover::before, .header__link:hover::after {
  opacity: 1;
}
.header__link.current, .header__link:hover {
  color: #F58262;
}

.footer {
  padding: 15px 0;
  text-align: center;
  position: relative;
  background: white;
  flex-shrink: 0;
  color: black;
}
.footer::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  left: 0;
  top: -20px;
  background: radial-gradient(white 0%, white 70%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 100%) 0 10px;
  background-size: 20px 20px;
  background-repeat: repeat-x;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.hall {
  border: 2px solid rgb(0, 247, 255);
  padding: 10px 20px;
  margin-bottom: 20px;
}
.hall__name {
  margin-top: 0;
}

.contacts__item {
  margin-bottom: 10px;
  border: 2px solid rgb(0, 247, 255);
  padding: 10px 20px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */