.footer {
    padding: 15px 0;
    text-align: center;
    position: relative;
    background: white;
    flex-shrink: 0;
    color: black;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 20px;
        left: 0;
        top: -20px;
        background: radial-gradient(white 0%, white 70%, rgba(255,255,255,0) 70%, rgba(255,255,255,0) 100%) 0 10px;
        background-size: 20px 20px;
        background-repeat: repeat-x;
    }
}