{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="album">
    <div class="container">
        <div class="album__wrapper">
            <h1 class="title">
               Фотоальбом
            </h1>
            <div class="text">
                <ul class="album__images">
                    {% for item in photos %}
                    <li class="album__item">
                        <img class="album__image" src="{{ item.photo.url }}" alt="Фото зала">
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}