{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'scss/style.css' %}">
</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <ul class="header__menu">
                <li class="header__item"><a href="{% url 'tickets' %}" class="header__link current">Абонементы</a></li>
                <li class="header__item"><a href="{% url 'album' %}" class="header__link">Фото фитнес центра</a></li>
                <li class="header__item"><a href="{% url 'halls' %}" class="header__link">Список залов</a></li>
                <li class="header__item"><a href="{% url 'contacts' %}" class="header__link">Контакты</a></li>
                <li class="header__item"><a href="{% url 'home' %}" class="header__link">О нас</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer class="footer">
        <p>+7 (999) 999-99-99, ул.Фитнеса д.8 Fitnessy©</p>
    </footer>
</body>
</html>