{% extends 'base.html' %}
{% block content %}
<section class="contacts">
    <div class="container">
        <div class="contacts__wrapper">
            <h1 class="title">
               Контакты для связи
            </h1>
            <div class="text">
                <ul class="contacts__list">
                    {% for contact in contacts %}
                    <li class="contacts__item">
                        <p class="contacts__name">{{contact.title}}</p>
                        <p class="contacts__description">{{contact.description}}</p>
                        <p class="contact__tel">Номер для связи: +79{{contact.tel}}</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}