{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="album">
    <div class="container">
        <div class="album__wrapper">
            <h1 class="title">
               Список залов в Москве
            </h1>
            {% for hall in halls %}
            <div class="hall text">
                <h2 class="hall__name">{{hall.title}}</h2>
                <p class="hall__description">
                    {{hall.description}}
                </p>
                <p class="hall__services">Услуги: |
                    {% for service in hall.service.all %}
                    {{service.title}} |
                    {% endfor %}
                </p>
                <p class="hall__address">
                    Зал расположен по адресу {{hall.address}}
                </p>
                <p class="hall__contacts">
                    Телефон для связи +79{{hall.tel}}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}