{% extends 'base.html' %}
{% block content %}
<section class="about">
    <div class="container">
        <div class="about__wrapper">
            <h1 class="title">
               Об оборудовании зала
            </h1>
            <div class="text">
                <p>
                    В нашем зале используется новейшее оборудование
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}