{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="tickets">
    <div class="container">
        <div class="tickets__wrapper">
            <h1 class="title">
               Доступные абонементы
            </h1>
            <div class="text">
                <ul class="tickets__list">
                    {% for ticket in tickets %}
                    <li class="tickets__item ticket">
                        <h2 class="ticket__title">Тариф "{{ticket.title}}"</h2>
                        <p class="ticket__description">{{ticket.description}}</p>
                        <p class="ticket__count">
                            {{ticket.count}} посещений в месяц
                        </p>
                        <p class="ticket__price">
                            {{ticket.price}} рублей
                        </p>
                        <p class="ticket__duration">
                            Срок действия: {{ticket.duration}} месяц
                        </p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}