* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    background-image: url('../images/background.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    padding: 30px 0;
}

.img_face {
    border: 20px groove rgb(255, 208, 81);
    display: block;
    margin: auto;
}

h1 {
    font-size: 60px;
    color: rgb(55, 246, 227);
}

h2, h3, .text, a {
    color:rgb(0, 247, 255)
}

h2 {
    font-size: 45px;
    margin-bottom: 10px;
    margin-top: 20px;
}

h3 {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}

p {
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;

}

.text {
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}

.img_left {
    display:block;
    border: 5px solid rgb(209, 156, 9);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

a:hover {
    text-decoration: none;
    color: rgb(0, 255, 221);   
    background: #6b3d12;
    font-size: 30px;
}