.header {
    &__menu {
        list-style: none;
        padding: 0 30px;
        margin: 0;
        font-size: 18px;
        text-align: center;
        position: relative;
        background: white;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 20px;
            left: 0;
            bottom: -20px;
            background: radial-gradient(white 0%, white 70%, rgba(255,255,255,0) 70%, rgba(255,255,255,0) 100%) 0 -10px;
            background-size: 20px 20px;
            background-repeat: repeat-x;
        }
    }

    &__item {
        display: inline-block;
    }

    &__link {
        text-decoration: none;
        display: inline-block;
        margin: 0 15px;
        padding: 10px 30px;
        font-family: 'PT Sans Caption', sans-serif;
        color: #777777;
        transition: .3s linear;
        position: relative;

        &::after, &::before {
            content: "";
            position: absolute;
            top: calc(50% - 3px);
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: #F58262;
            opacity: 0;
            transition: .5s ease-in-out;
        }

        &::before {
            left: 5px;
        }

        &::after {
            right: 5px;
        }

        &.current::before, &.current::after, &:hover::before, &:hover::after {
            opacity: 1;
        }

        &.current, &:hover {
            color: #F58262;
        }
    }
}